* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: wheat;
    font-family: Verdana, Tahoma, sans-serif;
        .title {
            width: 800px;
            text-align: center;
            margin-bottom: 10px;
        }
        .board {
            width: 800px;
            height: 700px;
            border: 3px solid black;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            background-image: url('/assets/grass.jpg');
            div {
                width: 150px;
                height: 150px;
                border: 4px solid black;
                border-radius: 50%;
                justify-self: center;
                align-self: center;
                background-color: green;
                cursor: pointer;
                overflow: hidden;
            }
        }
        .score-board {
            width: 800px;
                border: 2px solid black;
                text-align: center;
                font-size: 25px;
            #start {
                align-content: center;
                margin-bottom: 10px;
                margin-top: 10px;
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
                font-weight: 700;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                    &:hover {
                        background-color: lightgreen;
                    }
            }   
        }
}

.mole {
    width: 150px;
    height: 150px;
    background-image: url('/assets/taupiqueur.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: appear 0.5s ;
}

@keyframes appear {
    0% {
        transform: translateY(120px);
    }

    100% {
        transform: translateY(0);
    }
}